<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.ale.lectureleaks"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    
            <activity android:name=".SplashActivity"
                  android:label="Lecture Leaks">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenuActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".ProfileActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".PostActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".AboutActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".RecorderActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".LearnListViewActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".LearnSubListViewActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".LearnSchoolListViewActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".LearnSubjectListViewActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".LearnCourseListViewActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".LearnLectureListViewActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".PlayerActivity"
                  android:label="@string/app_name">
        </activity>
        <service android:name=".rService"/>
        <service android:name=".uService"/>
        <service android:name=".PlayerService"/>
        
        <receiver android:name="pl.magot.vetch.ancal.AnCalReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
				</receiver>

        <service android:name="pl.magot.vetch.ancal.reminder.AlarmService" android:process=":remote" />        

        <activity android:name="pl.magot.vetch.ancal.AnCal" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        
        <activity android:name="pl.magot.vetch.ancal.activities.ActivityAppointment" android:label="@string/titleDefaultAppointment">
            <intent-filter>
                <action android:name="android.intent.action.AnCal.ACTION_MODE_NEW_APPOINTMENT" />
                <action android:name="android.intent.action.AnCal.ACTION_MODE_EDIT_APPOINTMENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name="pl.magot.vetch.ancal.activities.ActivityAppointmentRepeat" android:label="@string/titleDefaultRepeat" android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.AnCal.ACTION_MODE_EDIT_APPOINTMENTREPEAT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name="pl.magot.vetch.ancal.activities.ActivityTask" android:label="@string/titleDefaultTask">
            <intent-filter>
                <action android:name="android.intent.action.AnCal.ACTION_MODE_NEW_TASK" />
                <action android:name="android.intent.action.AnCal.ACTION_MODE_EDIT_TASK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name="pl.magot.vetch.ancal.activities.ActivityNote" android:label="@string/titleDefaultNote">
            <intent-filter>
                <action android:name="android.intent.action.AnCal.ACTION_MODE_NEW_NOTE" />
                <action android:name="android.intent.action.AnCal.ACTION_MODE_EDIT_NOTE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name="pl.magot.vetch.ancal.activities.ActivityOptions" android:label="@string/titleDefaultOptions">
            <intent-filter>
                <action android:name="android.intent.action.AnCal.ACTION_MODE_EDIT_OPTIONS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name="pl.magot.vetch.ancal.activities.ActivityAbout" android:label="@string/titleDefaultAbout">
            <intent-filter>
                <action android:name="android.intent.action.AnCal.ACTION_MODE_VIEW_ABOUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name="pl.magot.vetch.ancal.reminder.AlarmDialog" android:label="@string/titleDefaultAlarmDialog" android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.AnCal.ACTION_MODE_VIEW_ALARMDIALOG" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name="pl.magot.vetch.widgets.DateWidget" android:label="Select date" 
        	android:launchMode="singleTop" android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.AnCal.ACTION_MODE_EDIT_SELECT_DATE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name="pl.magot.vetch.widgets.TimeWidget" android:label="Select time"
        	android:launchMode="singleTop" android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.AnCal.ACTION_MODE_EDIT_SELECT_TIME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name="pl.magot.vetch.widgets.KeyboardWidget" android:label="Edit text"
					android:launchMode="singleTop" android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.AnCal.ACTION_MODE_EDIT_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>        

    </application>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
  	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
  	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"></uses-permission>
  	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest> 